<div  ng-controller="homeCtrl">
  <div layout="row" layout-sm="column" layout-align="space-around">
    <div>
      <md-input-container >
        <label>Zip Code</label>
          <input ng-model="zipcode">
      </md-input-container>
    </div>
    <div>
        <md-button class="md-raised" ng-controller="partialCtrl" ng-click="getEventDetails()">Search</md-button>
    </div>
    <div>
      <md-input-container>
        <label>Category</label>
          <md-select ng-model="ctrl.userState" ng-click="getCategories()">
              <md-option ng-repeat="category in categoryList">
                  {{category.name}}
              </md-option>
          </md-select>
      </md-input-container>
    </div>
  </div>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="determinate" ></md-progress-circular>
  </div>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-radio-group ng-model="data.group1">
        <a ui-sref=".map" checked="checked"><md-radio-button value="Map" class="md-primary">Map</md-radio-button></a>
      <a ui-sref=".list"><md-radio-button value="List" > List </md-radio-button></a>
    </md-radio-group>
  </div>
    <div>
       
       
        <div ui-view></div>
    </div>
</div>