<br />

<div class="partialListDivider container" ng-cloak="" ng-controller="partialCtrl">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Events</span>
        </h2>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="event in eventList">
                <div class="md-list-item-text">
                    <a href="{{event.event_url}}" target="_blank">{{event.group.name}}</a>
                     <p>Date: {{event.time | date: 'MM-dd-yyyy'}}</p>
                     <p>Time: {{event.time | date:  'HH:mm:ss Z'}}</p>
                </div>
                <md-button >RSVP</md-button>
                <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
   
</div>